/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-condensed-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('../fonts/roboto-condensed-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-condensed-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'),
       url('../fonts/pt-serif-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-serif-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-italic - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'),
       url('../fonts/pt-serif-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-serif-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-700 - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'),
       url('../fonts/pt-serif-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-serif-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-700italic - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'),
       url('../fonts/pt-serif-v9-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-serif-v9-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



body {
  font-family: 'PT serif', serif;
  font-size: 1.8em;
  line-height: 1.5;
  color: #151515;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3c3c3c;
}

a {
  color: #991848;
}

pre {
  border-left: 0.3rem solid #991848;
}

hr {
  margin: 4.0rem 0;
}

ul {
  list-style: circle outside;
}

.wrapper .container {
  max-width: 80rem;
}

.navigation {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  /*height: 6.0rem;*/
  display: inline-block;
  border-bottom: 0.1rem solid #d1d1d1;
  margin-bottom: 4.0rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.home-link {
	margin-right: 1rem;
	float: left;
}

.tagline {
	float: left;
}

.tag-sep {
	float: left;
	display: none;
}

.navigation-list, .archive-list {
  list-style: none;
}

.navigation-list {
	float: left;
	margin-bottom: 1rem;
}

.navigation-home {
	float: left;
	margin: 1rem 0 1rem;
}

.navigation-item {
  position: relative;
  float: left;
  margin-left: 1.0rem;
  margin-bottom: 0;
}

.post-navigation {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 4.0rem;
  font-size: larger;
}

.footer {
  width: 100%;
  height: 6.0rem;
  line-height: 6.0rem;
  border-top: 0.1rem solid #d1d1d1;
  margin-top: 4.0rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.footnotes, .taglist {
  font-size: smaller;
}

.footnotes li {
  list-style: decimal;
  margin-bottom: 0.5rem;
}

.draft-mark {
  margin-left: 1rem;
  font-size: 50%;
  background: red;
  padding: 3px 6px 3px 6px;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.gist {
  padding-top: 1rem;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {

	.navigation {
		line-height: 6.0rem;
	}
	
	.navigation-home, .navigation-list {
		margin: 0;
	}

	.navigation-list {
		float: right;
	}

	.tagline {
		float: none;
		margin-left: 1rem;
		line-height: 6.0rem;
	}

	.tag-sep {
		display: block;
	}

}
