{{with $source := $.Page.Resources.GetMatch (printf "*%s*" .Params.twitter_img)}}
    {{ $img := $source.Fit "2300x600" }}
    {{ $.Scratch.Set "twimage" $img }}
{{end}}
{{ partial "header.html" . }}
<article class="post h-entry">
    <header>
        <h1 class="p-name">
            {{ .Title }}
            {{ if .Params.draft }}
            <span class="draft-mark" title="Will not be public">
                draft
            </span>
            {{ end }}
        </h1>
        <div class="post-info">
            <time class="pubdate dt-published" datetime="{{ .Date }}">{{ .Date.Format "02 Jan 2006" }}</time>
        </div>
        <a class="u-author h-card" href="/"></a>
    </header>
    <section class="e-content">
            {{ partial "toc.html" . }}
            {{ with .Params.intro }}<p class="post__intro">{{ . }}</p>{{ end }}
            {{ .Content }}
    </section>
    <footer>
    {{ partial "tags.html" . }}
    {{ partial "webmentions.html" . }}
    {{ with .Site.Pages.Related . }}
        <hr/>
        <div class="article-related">
            <h3>Other Things I've Written</h3>
            <ol>
                {{ range . | first 5 }}
                <li>
                    <a href="{{ .RelPermalink }}" class="article-related__link">
                        <span class="article-related__title">{{ .Title }}</span>
                        <time class="article-related__date" datetime="{{ .Date }}">{{ .Date.Format "02 Jan 2006" }}</time>
                    </a>
                </li>
                {{ end }}
            </ol>
        </div>
    {{ end }}
    </footer>
</article>
<nav class="page-navigation clearfix">
	{{ if .NextInSection }} <a class="float-left" href="{{.NextInSection.Permalink}}">← newer</a> {{ end }} {{ if .PrevInSection }} <a class="float-right" href="{{.PrevInSection.Permalink}}">older →</a> {{ end }}
</nav>
{{ partial "footer.html" . }}
