    <article class="post h-entry">
        <h1 class="p-name">{{ if .home }}<a href="{{ .page.Permalink }}">{{ .page.Title }}</a>{{ else }}{{ .page.Title }}{{ end }}{{ if .page.Params.draft }}<span class="draft-mark" title="Will not be public">draft</span>{{ end }}</h1>
		{{ if eq .page.Type "posts" }}<time class="pubdate dt-published" datetime="{{ .page.Date.Format "2006-01-02" }}">{{ .page.Date.Format "02 Jan 2006" }}</time>{{ end }}
		<section class="e-content">
			{{ .page.Content }}
		</section>
		<footer>
		{{ partial "tags.html" .page }}
		{{ with .related }}
		<div class="article-related">
		<h3>Related</h3>
		<ul>
			{{ range . }}
			<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{ end }}
		</ul>
		</div>
		{{ end }}
		</footer>
	</article>
