    <article class="post h-entry">
        <h1 class="p-name">{{ if .home }}<a href="{{ .page.Permalink }}" class="u-url">{{ .page.Title }}</a>{{ else }}{{ .page.Title }}{{ end }}{{ if .page.Params.draft }}<span class="draft-mark" title="Will not be public">draft</span>{{ end }}</h1>
		{{ if eq .page.Type "posts" }}<time class="pubdate dt-published" datetime="{{ .page.Date.Format "2006-01-02" }}">{{ .page.Date.Format "02 Jan 2006" }}</time>{{ end }}
		<section class="e-content">
			{{ if not .home }}
				{{ partial "toc.html" .page }}
			{{ end }}
			{{ if and ( .home ) ( .page.Params.toc ) }}
				{{ .page.Summary }}
				{{ if .page.Truncated }}
				<!-- This <div> includes a read more link, but only if the summary is truncated... -->
				<div class="read-more">
				<a href="{{ .page.RelPermalink }}">Read More…</a>
				</div>
				{{ end }}
			{{ else }}
				{{ .page.Content }}
			{{ end }}
		</section>
		<footer>
		{{ partial "tags.html" .page }}
		{{ with .related }}
			<div class="article-related">
			<h3>Related</h3>
			<ul>
				{{ range . }}
				<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
				{{ end }}
			</ul>
			</div>
		{{ end }}
		{{ if and ( not .home ) ( eq .page.Type "posts" ) ( fileExists "/data/comments/" ) }}
			{{ $c := (index .page.Site.Data.comments .page.File.BaseFileName) }}
			{{ with $c }}{{ partial "comments.html" $c }}{{ end }}
		{{ end }}
		{{ $ageDays := div (sub now.Unix .page.Date.Unix) 86400 }}
		{{ if and ( not .home ) ( eq .page.Type "posts" ) ( .page.Params.comments ) ( gt .page.Site.Params.CommentCutoff $ageDays ) }}
			{{ partial "comment-form.html" (dict "pageName" .page.File.BaseFileName "postURL" .page.Site.Params.CommentPostURL )}}
		{{ else if and ( not .home ) ( eq .page.Type "posts" ) }}
			<p><em>Comments Closed.</em></p>
		{{ end }}
		</footer>
	</article>
