<div class="comment-form">
  <h3>Please leave a Comment</h3>
  <p>Your thoughts on this article would be much appreciated and will add additional value and insight to other readers.</p>
  <form name="comments-queue" method="POST" action=".postURL" netlify-honeypot="email" netlify>
    <input name="path" type="hidden" value="{{ .pageName }}">
    <span class="comment-email"><input name="email"></span>
    <label for="name">Your name</label>
    <input type="text" name="name" id="name" placeholder="Your name or handle. Leave empty to remain anonymous">
    <label for="comment">Your comment</label>
    <textarea name="comment" id="comment" required></textarea>
    <button type="submit">Post your comment</button>
  </form>
</div>