			</section>
		</main>
		<footer class="footer">
			<ul class="indie-links">
				<li class="navigation-intro">Find me on: </li>
				{{ range $i, $e := .Site.Params.profiles }}{{ if $i }}<li class="navigation-item">·</li>{{ end }}<li class="navigation-item"><a href="{{ $e.URL }}" rel="me">{{ $e.site }}</a></li>{{ end }}
			</ul>
			<div class="h-card">
				<p>&copy; {{ now.Year }} <a class="p-name u-url" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
			</div>
		</footer>
	</body>
</html>