			</main>
			<footer class="footer wrapper">
				<div class="h-card container footer__inner">
					<div hidden="">
						{{ with .Site.Params.AuthorPhoto }}<img class="u-photo" src="{{ $.Site.BaseURL }}{{ . }}"/>{{ end }}
						<p class="p-note">{{with .Site.Params.AuthorAbout }}{{ . }}{{ end }}</p>
					</div>
					<p class="footer__item">
						&copy; {{ now.Year }}
						<br>
						<a class="p-name u-url" href="{{ .Site.BaseURL }}">{{ .Site.Params.Author }}</a>
						{{ with .Site.Params.ContentLicense}}
						<br>
						{{ . }}
						{{ end }}
					</p>
					<p class="footer__item">
						Contact
						<br>
						<a class="u-email" href="mailto:{{ .Site.Params.AuthorEmail }}" rel="me">{{ .Site.Params.AuthorEmail }}</a>
					</p>
					<p class="footer__item">
						Social
						<br>
						{{ range $i, $e := .Site.Params.profiles }}{{ if $i }} / {{ end }}<a href="{{ $e.URL }}" rel="me">{{ $e.site }}</a>{{ end }}
					</p>
					<p class="footer__item">
						Links
						<br>
						{{ range $i, $e := .Site.Menus.footerlinks.ByWeight }}{{ if $i }} / {{ end }}<a href="{{ $e.URL | relURL }}">{{ $e.Name }}</a>{{ end }}
					</p>
					<p class="footer__item--right">
						<br>
						{{ partial "icon-feed-svg.html" }} <a href="/index.xml">RSS feed</a>
					</p>
				</div>
			</footer>
		</div><!-- wrapper -->
		<script type="text/javascript" src="{{ .Site.BaseURL }}js/caradoc.js"></script>
	</body>
</html>
