			</section>
		</main>
		<footer class="footer">
			<ul class="indie-links">
				<li class="navigation-intro">Find me on: </li>
				{{ range $i, $e := .Site.Params.profiles }}{{ if $i }}<li class="navigation-item">·</li>{{ end }}<li class="navigation-item"><a href="{{ $e.URL }}" rel="me">{{ $e.site }}</a></li>{{ end }}
			</ul>
			{{ if .IsHome }}
			<div class="h-card">
				<div><img class="u-photo avatar" src="{{.Site.BaseURL}}{{ .Site.Params.AuthorPhoto }}"/> &copy; {{ now.Year }} <a class="p-name u-url" rel="author" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
			</div>
			<div class="content-license">{{ with .Site.Params.contentlicense}}{{ . | safeHTML }}{{ end }}</div>
			{{ else }}
			<div class="content-license">&copy; {{ now.Year }} <a class="p-name u-url" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
			{{ with .Site.Params.contentlicense}}{{ . | safeHTML }}{{ end }}</div>
			{{ end }}
		</footer>
	</body>
</html>