<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-gb" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ if .IsHome }}{{ .Site.Title | lower | title }} - {{ .Site.Params.tagline }}{{ else }}{{ .Site.Title | lower | title }} - {{ .Title }}{{ end }}</title>
	<meta name="title" content="{{ if $.IsHome }}{{ .Site.Title }} - {{ .Site.Params.tagline }}{{ else }}{{ .Site.Title }} - {{ .Title }}{{ end }}">
	<meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="canonical" href="{{ .URL }}" />
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/milligram.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/caradoc.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css">
	<link href='{{ "/feed.xml" | relURL }}' rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" />
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

	{{ with .Site.Params.WebMentionEndpoint }}<link rel="webmention" href="{{ . }}" />{{ end }}
	{{ with .Site.Params.PingBackEndpoint }}<link rel="pingback" href="{{ . }}" />
</head>
<body>
	<main class="wrapper">
			<nav class="navigation">
				<section class="container">
					<div class="navigation-home"><a class="home-link" href="{{ .Site.BaseURL }}" rel="me"><strong>{{ upper .Site.Title }}</strong></a><span class="tag-sep">·</span><span class="tagline">{{ .Site.Params.tagline }}</span></div>
					<ul class="navigation-list">
						{{ range $i, $e := .Site.Menus.main.ByWeight }}{{ if $i }}<li class="navigation-item">·</li>{{ end }}<li class="navigation-item"><a href="{{ $e.URL | relURL }}">{{ $e.Name }}</a></li>{{ end }}
					</ul>
				</section>
			</nav>
			<section class="container">
