{{ $param_target := "?target="}}
{{ $param_token := "&token=" }}
{{ $value_target := .RelPermalink }}
{{ $value_token := getenv "WEBM_TOKEN" }}
{{ $filter := "&wm-property[]=in-reply-to&wm-property[]=repost-of" }}
{{ $mentions := getJSON "https://webmention.io/api/mentions.jf2" $param_target .Site.Params.WebMentionTargetSite $value_target $param_token $value_token $filter}}
{{ $likes := getJSON "https://webmention.io/api/mentions.jf2" $param_target .Site.Params.WebMentionTargetSite $value_target $param_token $value_token "&wm-property=like-of"}}
{{ $allmentions := getJSON "https://webmention.io/api/mentions.jf2" $param_target .Site.Params.WebMentionTargetSite $value_target $param_token $value_token "&wm-property[]=in-reply-to&wm-property[]=repost-of&wm-property[]=like-of"}}
{{ with $allmentions.children }}
<hr/>
<div id="webmentions" class="article-comments">
    <h3>Webmentions</h3>
    {{ with $allmentions.children }}
    <div class="comments__header toggle-content is-visible">
        <a class="toggle" href="#webmentions">{{ partial "icon-message-svg.html" }} Show All ({{ len $allmentions.children  }})</a>
        <div class="authors">
        {{ range first 3 (sort . "published") }}
            {{ if ge (len .author.name) 1 }}
        <div class="comment-avatar open" title="{{.author.name}}">{{ substr .author.name 0 1 | upper}}</div>
            {{ else }}
        <div class="comment-avatar open" title="Anonymous">A</div>
            {{ end }}
        {{end}}
        {{ if gt (len $allmentions.children) 3 }}<span class="authors__more">+{{ sub (len $allmentions.children) 3 }}</span>{{ end }}
        </div>
        <a class="comments__info" href="https://indieweb.org/Webmention" target="_blank" rel="noopener noreferrer">What's This?</a>
    </div>
    {{ end }}
    {{ with $mentions.children }}
    <div  class="comments__mentions toggle-content">
    {{ range sort . "published" "desc" }}
    <article id="{{ (index . "wm-id") | md5 }}" class="comment h-entry {{ (index . "wm-property") }}">
        {{ if ge (len .author.name) 1 }}
        <div class="comment-avatar open">{{ substr .author.name 0 1 | upper}}</div>
            <div class="comment-body">
                <h4 class="comment-author p-author"><a class="u-url" href="{{ .url }}">{{ .author.name }}</a></h4>
        {{ else }}
        <div class="comment-avatar open">A</div>
            <div class="comment-body">
                <h4 class="comment-author p-author">Anonymous</h4>
        {{ end }}
            <div class="comment-time">
                <a href="#{{ index . "wm-id" | md5 }}" class="u-url" title="Comment permalink">#</a> <time class="comment-date dt-published" datetime="{{ .published }}">{{ with .published }}{{ dateFormat "2 Jan 2006 15:04" (time .).Local }}{{ end }}</time>
            </div>
            <p class="e-content">{{ .content.text }}</p>
        </div>
    </article>
    {{ end }}
    {{ end }}
    {{ with $likes.children }}  
    <div class="comments__likes comment">
        <h4>Likes</h4>
            <div>
            {{ range first 10 (sort . "published" "desc") }}
                {{ if ge (len .author.name) 1 }}
            <div class="comment-avatar open" title="{{.author.name}}"><a class="u-url" href="{{ .url }}">{{ substr .author.name 0 1 | upper}}</a></div>
                {{ else }}
            <div class="comment-avatar open" title="Anonymous"><a class="u-url" href="{{ .url }}">A</a></div>
                {{ end }}
            {{end}}
            {{ if gt (len $likes.children) 10 }}<span class="authors__more">+{{ sub (len $likes.children) 10 }}</span>{{ end }}
        </div>
    </div>
    {{ end }}
    </div>
</div>
{{ end }}
