{{ $param_target := "?target="}}
{{ $param_token := "&token=" }}
{{ $value_target := .RelPermalink }}
{{ $value_token := getenv "WEBM_TOKEN" }}
{{ $filter := "&wm-property[]=in-reply-to&wm-property[]=mention-of" }}
{{ $mentions := getJSON "https://webmention.io/api/mentions.jf2" $param_target .Site.Params.WebMentionTargetSite $value_target $param_token $value_token $filter}}
{{ $likes := getJSON "https://webmention.io/api/mentions.jf2" $param_target .Site.Params.WebMentionTargetSite $value_target $param_token $value_token "&wm-property=like-of"}}
{{ $allmentions := getJSON "https://webmention.io/api/mentions.jf2" $param_target .Site.Params.WebMentionTargetSite $value_target $param_token $value_token "&wm-property[]=in-reply-to&wm-property[]=repost-of&wm-property[]=like-of"}}
{{ with $mentions.children }}
<hr/>
<div id="webmentions" class="article-comments">
    <h3>Webmentions</h3>

    {{ with $mentions.children }}
    <div  class="comments__mentions">
        {{ range sort . "published" "desc" }}
        <article id="{{ (index . "wm-id") | md5 }}" class="comment h-entry {{ (index . "wm-property") }}">
            {{ if ge (len .author.name) 1 }}
            <div class="comment-avatar open"><img src="{{ .author.photo }}" /></div>
                <div class="comment-body">
                    <h4 class="comment-author p-author"><a class="u-url" href="{{ .url }}">{{ .author.name }}</a></h4>
            {{ else }}
            <div class="comment-avatar open">A</div>
                <div class="comment-body">
                    <h4 class="comment-author p-author">Anonymous</h4>
            {{ end }}
                <div class="comment-time">
                    <a href="#{{ index . "wm-id" | md5 }}" class="u-url" title="Comment permalink">#</a> <time class="comment-date dt-published" datetime="{{ .published }}">{{ with .published }}{{ dateFormat "2 Jan 2006 15:04" (time .).Local }}{{ end }}</time>
                </div>
                <p class="e-content">{{ .content.text }}</p>
            </div>
        </article>
        {{ end }}
    {{ end }}
    </div>
</div>
{{ end }}