{{ $param_target := "?target="}}
{{ $param_token := "&token=" }}
{{ $value_target := .RelPermalink }}
{{ $value_token := getenv "WEBM_TOKEN" }}
{{ $mentions := getJSON "https://webmention.io/api/mentions.jf2" $param_target .Site.Params.WebMentionTargetSite $value_target $param_token $value_token }}
{{ $filter := "in-reply-to mention-of" }}
{{ with $mentions.children }}
<hr/>
<div id="webmentions" class="article-comments">
    <h3>Webmentions</h3>
    <div class="comments__header toggle-content is-visible">
        <a class="toggle" href="#webmentions">{{ partial "icon-message-svg.html" }} Show All ({{ len $mentions.children }})</a>
        <div class="authors">
        {{ range first 3 (sort . "published") }}
            {{ if in $filter (index . "wm-property")}}
                {{ if ge (len .author.name) 1 }}
        <div class="comment-avatar open" title="{{.author.name}}">{{ substr .author.name 0 1 }}</div>
                {{ else }}
        <div class="comment-avatar open" title="Anonymous">A</div>
                {{ end }}
            {{end}}
        {{end}}
        {{ if gt (len $mentions.children) 3 }}<span class="authors__more">+{{ sub (len $mentions.children) 3 }}</span>{{ end }}
        </div>
        <a class="comments__info" href="https://indieweb.org/Webmention" target="_blank" rel="noopener noreferrer">What's This?</a>
    </div>
    <div  class="comments__mentions toggle-content">
    {{ range sort . "published"}}
    {{ if in $filter (index . "wm-property")}}
    <article id="{{ index . "wm-id" }}" class="comment h-entry">
        {{ if ge (len .author.name) 1 }}
        <div class="comment-avatar open">{{ substr .author.name 0 1 }}</div>
            <div class="comment-body">
                <h4 class="comment-author p-author"><a class="u-url" href="{{ .url }}">{{ .author.name }}</a></h4>
        {{ else }}
        <div class="comment-avatar open">A</div>
            <div class="comment-body">
                <h4 class="comment-author p-author">Anonymous</h4>
        {{ end }}
            <div class="comment-time">
                <a href="#{{ index . "wm-id" }}" class="u-url" title="Comment permalink">#</a> <time class="comment-date dt-published" datetime="{{ .published }}">{{ with .published }}{{ dateFormat "2 Jan 2006 15:04" (time .).Local }}{{ end }}</time>
            </div>
            <p class="e-content">{{ .content.text }}</p>
        </div>
    </article>
    {{ end }}
    {{ end }}
    </div>
</div>
{{ end }}
