{{ partial "header.html" . }}
    <h1>Archive</h1>
    <div class="archive-grid">
            <div class="archive-year">
                <h2>Browse</h2>
            <ul>
                    <li>{{ partial "icon-tags-svg" }}<a href="/tags">Tags</a></li>
                    <li><a href="/series">Blog series</a></li>
                </ul>
            </div>
    {{ with .Site.GetPage "section" "posts" }}
    {{ range .Pages.GroupByDate "2006" }}
            <div class="archive-year">
                <h2>{{ .Key }}</h2>
                <ul class="archive-list-annual">
                    {{ range .Pages }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}.</a>{{ if .Params.description }} {{ .Params.description }}{{ end }}</li>
                    {{ end }}
                </ul>
            </div>
            
    {{ end }}
    {{ end}}
    </div>
    
{{ partial "footer.html" . }}
