{{ partial "header.html" . }}
<p class="float-right">{{ partial "icon-tags-svg" }}<em>Browse <a href="/tags">all tags</a></em></p>
<h2 class="post-title">Posts tagged &lsquo;{{ lower .Title }}&rsquo;</h2>
<ol class="archive-list-tag">
  {{ range .Paginator.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>. {{ if .Params.description }} {{ .Params.description }}{{ end }}</li>
  {{ else }}
    <p>No tags yet, stay calm...</p>
  {{ end }}
</ol>
{{ partial "pagination.html" . }}
{{ partial "footer.html" . }}
